<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>About Us- Maddy's Caffeine</title>
    <link rel="icon" href="{% static 'images/icon3.png' %}">
    <link rel="stylesheet" href="{% static 'css/front.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <form method="post" action="{% url 'aboutus' %}">
    <nav>
    <h1 class="h1">About -Maddy's Caffeine </h1>
    </nav>
    <h4>Welcome to /Maddy's Caffeine/, your go-to destination for premium coffee and a cozy atmosphere!

        At /cofee/, we believe in serving more than just coffee—we serve experiences. Our mission is to create a space where coffee lovers can come together to savor the perfect cup, engage in great conversations, and feel at home.Welcome to /Maddy's Caffeine/, your go-to destination for premium coffee and a cozy atmosphere!

        At /cofee/, we believe in serving more than just coffee—we serve experiences. Our mission is to create a space where coffee lovers can come together to savor the perfect cup, engage in great conversations, and feel at home.
    </h4>
    
    <img class="img1" src="https://media.istockphoto.com/id/1940670992/photo/smiling-barista-hands-coffee-to-customer.webp?a=1&b=1&s=612x612&w=0&k=20&c=-PM4Q0M98m04IdAXOJyPZ_Yj5fyYD3jN9nDE40nAfuc=">
    
    <center> <h2>Our Story</h2> </center>

    <h4>Maddy's Caffeine started with a passion for exceptional coffee and a dream to bring people closer through their shared love of it. What began as a simple idea has now become a community hub where flavors, aromas, and stories blend seamlessly.
        Maddy's Caffeine started with a passion for exceptional coffee and a dream to bring people closer through their shared love of it. What began as a simple idea has now become a community hub where flavors, aromas, and stories blend seamlessly.

    </h4>
    <img class="img2" src="https://media.istockphoto.com/id/1338869844/photo/facade-of-a-small-shop.jpg?s=612x612&w=0&k=20&c=C9eM33jpgqettt01B2M6Om3KBRWGGvgJVooKsQ3kV2w=">

    <center><h2>Our Coffee</h2></center>
    <h4>We take pride in sourcing the finest beans from sustainable farms around the world. Every cup is brewed with care, combining traditional methods with modern innovation to bring out the best in every sip.
        We take pride in sourcing the finest beans from sustainable farms around the world. Every cup is brewed with care, combining traditional methods with modern innovation to bring out the best in every sip.

    </h4>
    <img class="img3" src="https://media.istockphoto.com/id/1156143439/photo/meghamalai-high-wavy-mountains-the-hidden-paradise.jpg?s=612x612&w=0&k=20&c=tg7xhTHshDQ3jFvuOGqu9oYII0CR8Z1VEoitUxrDI8s=">

    <center> <h2>Why Choose Us?</h2>
    <h3>☕ Fresh & Flavorful: Our beans are roasted to perfection and brewed fresh daily.</h3>
    <h3>🍯Cozy & Inviting: Relax, work, or catch up with friends in our comfortable ambiance.</h3>
    <h3>🌱Community-Focused: We're all about creating connections and giving back to the community.</h3>
    </center>
    <img class="img4" src="https://media.istockphoto.com/id/2153154060/photo/mature-friends-and-group-relax-at-coffee-shop-on-holiday-or-reunion-on-vacation-in-retirement.jpg?s=612x612&w=0&k=20&c=ktNahKsAAqoPIdurr4nhGjXa5LJHpUSoF2NxTB_aAio=">
    <center><h3>Whether you're a coffee enthusiast, a curious first-timer, or someone looking for a perfect spot to unwind, /cofee/ is here for you.

        Thank you for being part of our story. Let’s brew something special together!
        
        </h3></center>
</form>
</body>
</html>