<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Location- Maddy's Caffeine</title>
    <link rel="icon" href="{% static 'images/icon3.png' %}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    
</head>
<body>
    
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.85990490497!2d80.18576287444372!3d12.980810987335357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d000d1d14cd%3A0xd02cb07ffcf0c632!2sMaddy%20Coffee%20shop!5e0!3m2!1sen!2sin!4v1734506823328!5m2!1sen!2sin" width="1200" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
</body>
</html>