body{

    background-color: black;
    background-size: cover;
    color: rgb(139, 138, 138);

}
nav{
    margin-top: 20px;
    background-color: seagreen;
    display: block;
    font-style: italic;
    padding: 20px;
    font-size: x-large;
    text-align: center;
    text-decoration: dotted;
    text-transform: uppercase;
    border-radius: 10px;
}
.img1{
    margin-left: 300px;
}
.img2{
    margin-left: 300px;
}
.img3{
    margin-left: 300px;
}
.img4{
    margin-left: 300px;
}
.h1{
    color: black;
}
